proj_name: '{{ proj_name }}'
domain: '{{ domain }}'
img_tag: 'latest'
django_env: production
django_debug: '0'
django_secret: 'HC8m7QyRtM0aEebNsXHHpDRGyED7z0T5prMK'
django_allowed_host: '*'
django_db: postgress
django_db_name: '{{ proj_name }}_db'
django_db_engine: 'django.db.backends.postgresql_psycopg2'
django_db_host: 'db'
django_db_port: '5432'
django_db_user: '{{ proj_name }}_user'
django_db_pass: '{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=8') }}'
ngx_labels:
    traefik.enable: 'true'
    traefik.http.routers.{{ proj_name }}.rule: 'Host(`{{ domain }}`)'